@import "scss/Variables.scss";
@import "scss/Mixins.scss";
/* Customize website's scrollbar like Mac OS
Not supports in Firefox and IE */

/* total width */
::-webkit-scrollbar {
  background-color:#fff;
  width:16px
}

/* background of the scrollbar except button or resizer */
::-webkit-scrollbar-track {
  background-color:#fff
}

/* scrollbar itself */
::-webkit-scrollbar-thumb {
  background-color: $border-color;
  border-radius:16px;
  border:1px solid #fff
}

/* set button(top and bottom of the scrollbar) */
::-webkit-scrollbar-button {display:none}
body{
  background-color: #F9F9F9;
}