@import "../../scss/Variables.scss";
@import "../../scss/Mixins.scss";

.mainContainer {
  position: relative;
  max-width: 991px;
  margin: 0 auto;

  .loader {
    position: absolute;
    background: $color-dark-grey;
    z-index: 999;
    width: 100%;
    height: 100%;

    .spinner-border {
      position: absolute;
      left: 50%;
      top: 50%;
      z-index: 9999;
    }
  }

  .page_content {
    width: 100%;
    margin: 0 auto;
    background-color: $color-white;
    margin-top: 132px;
    .card_detail_head {
      padding: 15px;
      padding-bottom: 0;

      h4 {
        @include heading-H4;
        font-size: 15px;
        display: inline;
      }

      a {
        float: right;
        color: $theme-color;
        font-size: 12px;
      }
    }

    .payment_option_detail {
      padding: 15px;
      background-color: $color-white;
      border-bottom-left-radius: 20px;
      border-bottom-right-radius: 20px;
      position: relative;

      h4 {
        @include heading-H4;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
      }

      span.expand_input {
        position: absolute;
        left: 45%;
        bottom: -10px;
        z-index: 99;
        cursor: pointer;
      }

      .input_group {
        margin-bottom: 15px;

        label {
          color: #878787;
        }
        .MuiInputLabel-outlined.MuiInputLabel-shrink{
          transform: translate(14px, -6px) scale(1.2) !important;
          background-color: $color-white !important;
          padding-right: 5px;
        }
        .MuiOutlinedInput-root.Mui-focused {
          .MuiOutlinedInput-notchedOutline {
            border-color: $theme-color;
          }
        }

        .MuiInput-underline {
          &:after {
            border-color: $theme-color;
          }
        }

        .MuiFormControl-root {
          width: 100%;
        }

        &.expand {
          display: none;
        }

        &.validation {
          position: relative;

          .MuiFormControl-root {
            &:first-child {
              width: 65%;
              margin-right: 15px;
            }

            &:last-child {
              width: 30%;
            }
          }

          img {
            position: absolute;
            right: 10px;
            top: 15px;
          }
        }
      }
    }

    .payment_option_detail {
      padding: 15px;
      background-color: $color-white;
      min-height: 280px;

      h4 {
        @include heading-H4;
        margin-bottom: 0;
        font-size: 15px;
        font-weight: 400;
        line-height: 18px;
      }

      .payment_checkbox {
        border: 1px solid #F3F3F3;
        height: 48px;
        margin-bottom: 15px;
        display: flex;
        align-items: center;
        padding-left: 15px;

        .radio_wrap {
          @include radio;
          display: inline-flex;

          label {
            font-size: 14px;
            font-weight: 600;
            line-height: 17px;
          }

          .form-group {
            margin-right: 10px;
          }
        }
      }
    }

    .button_group {
      padding: 15px;
      padding-bottom: 0;
      display: flex;
      align-items: center;
      justify-content: space-around;

      button {
        @include button1;
        min-width: 45%;
        height: 50px;

        &:last-child {
          @include button;
          min-width: 45%;
        }

        &.pay {
          width: 100%;
        }
      }
    }

    .payment_secure {
      padding: 0 15px;

      p {
        @include paragraph;
        text-align: center;
        padding: 0;
        color: #ABABAB;
        font-size: 12px;
        font-weight: 400;
        line-height: 14.65px;

        img {
          padding-right: 5px;
        }
      }

      .norton_img {
        text-align: center;
        margin-bottom: 15px;
        margin-top: 15px;
        display: flex;
        align-items: center;
        justify-content: center;

        img {
          max-width: 45px;
          margin-right: 5px;
        }
      }
    }

    .payment_footer {
      background: #f9f9f9;
      padding: 20px 0;

      .shopster_img {
        text-align: center;
        padding: 10px 0;
      }

      .query_wrap {
        p {
          @include paragraph;
          text-align: center;
          padding: 0;
          color: #ABABAB;
          max-width: 160px;
          font-size: 12px;
          font-weight: 400;
          line-height: 14.65px;
        }
      }

      ul {
        margin: 0;
        padding: 0;
        list-style: none;
        display: flex;
        align-items: center;
        justify-content: space-around;

        li {
          position: relative;

          a {
            @include paragraph;
            text-align: center;
            color: #ABABAB;
            padding: 10px;
            display: inline-block;
          }

          &:after {
            content: " ";
            position: absolute;
            border: 0.5px solid #ABABAB;
            height: 20px;
            top: 12px;
            right: -10px;
          }

          &:last-child {
            &:after {
              content: none;
            }
          }
        }
      }
    }
  }
}